@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: url("images/bg-intro-desktop.png");
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 100%, 74%);
}


.container {
    display: flex;
    color: white;
}

.discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    width: 350px;
}

.container h1 {
    line-height: 2rem;
    margin-left: -70px;

}

.discription p {
    margin-top: 25px;
    font-size: 11px;
}

.signup {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; 
    gap:1.5em; */
}

.singup_pricing .signup_form {
    border-radius: 8px;
}

.singup_pricing {
    height: 40px;
    box-shadow: 0px 0.45px 0px 0px #df6d6d;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    font-size: 11px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.23);
}

.information {
    margin-top: 20px;
    padding-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 360px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.23);

}

.information p {
    text-align: center;
}

.information p .changecolor {
    color: #df6d6d;
}

.signup_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.signup_form input+span.error_icon {
    position: absolute;
    right: 2.5em;
    padding-top: 1.25em;
}

.signup_form input+span.error_icon img {
    height: 1rem;
    width: 1rem;
}

.signup_form input~span.error_message {
    position: relative;
    display: block;
    width: 100%;
    text-align: right;
    padding-right:16px ;
    color: #df6d6d;
    font-size: 0.6em;
    font-style: italic;
    font-weight: 500;

}

.signup_form input.error {
    border: 2px solid #ed7676;
    
}

.signup_form input {
    width: 90%;
    height: 25px;
    margin: 5px;
    padding: 15px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    font-weight: bolder;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.46);
}

input[type=submit] {
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 0;
    box-shadow: 0 2px 0 hsl(154, 81%, 40%);
    outline: none;
    letter-spacing: 1px;
    height: 30px;

}

input[type=submit]:hover {
    background-color: hsl(154, 44%, 60%);
    cursor: pointer;
}


.information p {
    font-size: 8px;
    color: hsl(246, 25%, 77%);
    margin-top: 5px;
    padding-bottom: 20px;

}

.changecolor {
    font-weight: bolder;
    color: hsla(0, 100%, 74%);

}